<div class="login-form-group">
  <form (ngSubmit)="submitForm()">
    <h2>Change Password</h2>
    <div class="group">
      <input
        type="{{ passwordVisible ? 'text' : 'password' }}"
        required
        name="oldPassword"
        [(ngModel)]="oldPassword"
        [ngClass]="{ used: oldPassword.length }"
        #passwordInput
      />
      <span
        nz-icon
        class="password-eye-icon"
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="togglePasswordVisible()"
      ></span
      ><span class="highlight"></span><span class="bar"></span>
      <span class="form-group-textarea-span">
        {{
          oldPassword.length < 3 ? 3 - oldPassword.length : oldPassword.length
        }}
        characters {{ oldPassword.length < 3 ? "left" : null }}</span
      >
      <label>Old Password</label>
    </div>
    <div class="group">
      <input
        type="password"
        required
        name="newPassword"
        [(ngModel)]="newPassword"
        [ngClass]="{ used: newPassword.length }"
      /><span class="highlight"></span><span class="bar"></span>
      <span class="form-group-textarea-span">
        {{
          newPassword.length < 3 ? 3 - newPassword.length : newPassword.length
        }}
        characters {{ newPassword.length < 3 ? "left" : null }}</span
      >
      <label>New Password</label>
    </div>
    <div class="group">
      <input
        type="password"
        required
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        [ngClass]="{ used: confirmPassword.length }"
      />
      <span class="highlight"></span><span class="bar"></span>
      <span class="form-group-textarea-span">
        {{
          confirmPassword.length < 3 ? 3 - confirmPassword.length : confirmPassword.length
        }}
        characters {{ confirmPassword.length < 3 ? "left" : null }}</span
      >
      <label>Confirm Password</label>
    </div>

    <button
      class="button buttonBlue"
      [disabled]="
        !(
          oldPassword.length >= 3 &&
          newPassword.length >= 3 &&
          confirmPassword.length >= 3
        )
      "
    >
      Save
      <div class="ripples buttonRipples">
        <span class="ripplesCircle"></span>
      </div>
    </button>
  </form>
</div>
