<div class="login-form-group">
  <form (ngSubmit)="submitForm()">
    <h2>Employee Management - Angular</h2>
    <div class="group">
      <input
        type="text"
        required
        name="username"
        [(ngModel)]="username"
        [ngClass]="{ used: username.length }"
      /><span class="highlight"></span><span class="bar"></span>
      <label>Username</label>
    </div>
    <div class="group">
      <input
        type="{{ passwordVisible ? 'text' : 'password' }}"
        required
        name="password"
        [(ngModel)]="password"
        [ngClass]="{ used: password.length }"
        #passwordInput
      />
      <span
        nz-icon
        class="password-eye-icon"
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="togglePasswordVisible()"
      ></span>
      <span class="highlight"></span><span class="bar"></span>
      <label>Password</label>
    </div>

    <button
      class="button buttonBlue"
      [disabled]="!(username.length >= 3 && password.length >= 3)"
    >
      Log in
      <div class="ripples buttonRipples">
        <span class="ripplesCircle"></span>
      </div>
    </button>
  </form>
</div>

<app-ok-modal></app-ok-modal>
